#navbarNavDropdown{
    display: flex;
    flex-direction: row;
}

#navbarNavDropdown span{
    position: relative !important;
    top: -0.6rem;
}




@media(max-width: 992px) {
    #navbarNavDropdown{
        display: block;
        margin-left: calc(50% - (16px * 2));
    }

    .nav-icons{
        display: block !important;
    }    
}