.spinner > div {
  background-color: #0066ff;
}

.page-item.active .page-link {
  background-color: #0066ff;
}

.header-area .header-top .header-logo form .input-box i {
  color: #0066ff;
}

nav .pagination li a:hover {
  background: #f16001;
  border-color: #f16001;
}

.header-area .header-top .header-btns ul li a i {
  color: #0066ff;
}

.header-navigation .main-menu ul > li.menu-item > a:before {
  background-color: #f16001;
}

.header-navigation .main-menu ul li:hover > a,
.header-navigation .main-menu ul li.active > a {
  color: #f16001;
}

.header-navigation .main-menu ul li .sub-menu li a:hover {
  background-color: #f16001;
}

.navbar-item .menu-icon ul li a:hover {
  color: #f16001;
}

.banner-area .banner-content ul li a {
  background: #0066ff;
  border: 2px solid #0066ff;
}

.banner-area .banner-content ul li a.main-btn-2:hover {
  background: #0066ff;
  border-color: #0066ff;
}

.dream-course-area .dream-course-content .dream-course-title span {
  color: #0066ff;
}

.dream-course-area .dream-course-content .dream-course-search .input-box i {
  color: #f16001;
}

.dream-course-area
  .dream-course-content
  .dream-course-search
  .dream-course-btn
  button {
  background: #0066ff;
}

.services-area .services-border .single-services:hover::before {
  background: #0066ff;
}

.offer-area .offer-content ul li a {
  border-color: #0066ff;
  background-color: #0066ff;
}

.offer-area .offer-content ul li a:hover {
  border-color: #f16001;
  background-color: #f16001;
}

.offer-area .offer-content ul li a.main-btn-2 {
  border-color: #f16001;
  background-color: #f16001;
}

.offer-area .offer-content ul li a.main-btn-2:hover {
  border-color: #0066ff;
  background-color: #0066ff;
}

.single-courses .courses-thumb .corses-thumb-title a.category {
  color: #f16001 !important;
}

.single-courses:hover .courses-content .title {
  color: #f16001;
}

.single-courses .courses-content .courses-info .item p {
  color: #0066ff;
}

.play-area .play-thumb::before {
  border-top: 138px solid #0066ff;
}

.play-area .play-thumb::after {
  border-top: 70px solid #f16001;
}

.testimonials-area .testimonials-content i {
  background: #0066ff;
}

.testimonials-area .testimonials-active .slick-arrow.prev:hover {
  border-right-color: #e9ecff;
  border-left-color: #0066ff;
}

.testimonials-area .testimonials-active .slick-arrow:hover {
  border-color: #0066ff;
  border-left-color: #e9ecff;
}

.testimonials-area .testimonials-content > span {
  color: #f16001;
}

.community-area .community-content .input-box button {
  background: #0066ff;
}

.footer-area .footer-item .footer-list-area .footer-list ul li a:hover {
  color: #f16001;
}

.footer-instagram .blog-info h6 a:hover {
  color: #f16001;
}

.back-to-top a {
  background: #f16001;
}

button.cookie-consent__agree {
  background-color: #0066ff;
}

.course-grid-area
  .course-grid
  .course-grid-top
  .course-filter
  .nice-select
  span {
  color: #0066ff;
}

.course-grid-area
  .course-grid
  .course-grid-top
  .course-filter
  .nice-select::after {
  border-bottom: 2px solid #0066ff;
  border-right: 2px solid #0066ff;
}

.course-grid-area .course-grid .course-grid-top .course-filter .input-box i {
  color: #f16001;
}

.course-grid-area .single-courses .courses-thumb .corses-thumb-title span {
  color: #f16001;
}

.course-grid-area .single-courses:hover .courses-content .title {
  color: #f16001;
}

.course-grid-area .single-courses .courses-content .courses-info .item p {
  color: #0066ff;
}

.radio_common-2 li input[type="radio"]:checked + label span {
  border-color: #0066ff;
  background: #0066ff;
}

.radio_common-2 li input[type="radio"]:checked + label {
  color: #0066ff;
}

.course-price-filter .ui-widget-content .ui-slider-handle {
  background-color: #0066ff;
}

.course-price-filter .ui-slider-horizontal .ui-slider-range {
  background-color: #0066ff;
}

.course-title-area::before {
  background-color: #0066ffe6;
}

.course-details-area .course-details-sidebar .course-sidebar-thumb a {
  background: #0066ff;
}

.course-details-area .course-details-sidebar .course-sidebar-price .title {
  color: #f16001;
}

#coupon-btn {
  background-color: #0066ff;
  border-color: #0066ff;
  color: #fff;
}

.course-details-area .course-details-sidebar .course-sidebar-btns #enrol-btn {
  background: #0066ff;
  border: 2px solid #0066ff;
}

.course-details-area .course-details-sidebar .course-sidebar-share {
  background: #0066ff;
}

.course-details-area .course-details-sidebar .course-sidebar-share a:hover {
  background-color: #f16001;
}

.single-courses .courses-thumb .corses-thumb-title.item-2 span {
  color: #f16001;
}

.course-accordian .card .card-header .title[aria-expanded="true"] {
  background-color: #0066ff;
}

.course-accordian .card {
  border: 1px solid #0066ff !important;
}

.curriculum-accordion .card .card-header .title {
  background-color: #0066ff;
}

.course-details-items .instructor-box .info ul.social-link li a {
  background-color: #0066ff;
}

.course-details-items .instructor-box .info ul.social-link li a:hover {
  background-color: #f16001;
}

.main-btn {
  border: 1px solid #0066ff;
  background-color: #0066ff;
}

.main-btn:hover {
  color: #f16001;
  border-color: #f16001;
}

.speakers-area .single-speakers .speakers-thumb a {
  background: #0066ff;
  color: #fff;
}

.speakers-area .single-speakers .speakers-content span {
  color: #f16001;
}

.social-link-btn {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
}

.social-link-btn:hover {
  color: #fff;
}

.blog-standard-area .blog-standard .single-blog-grid .blog-content span {
  background: #0066ff;
}

.blog-standard-area .blog-sidebar .blog-side-about .about-title .title::before {
  background: #0066ff;
}

.blog-standard-area .blog-sidebar .blog-side-about .about-title .title::after {
  background: #0066ff;
}

.blog-standard-area
  .blog-sidebar
  .blog-side-about
  .blog-Search-content
  .input-box
  button {
  background: #0066ff;
}

.blog-standard-area
  .blog-sidebar
  .blog-side-about
  .blog-categories-content
  ul
  li.active
  a {
  background: #0066ffd9;
}

.blog-standard-area
  .blog-sidebar
  .blog-side-about
  .blog-categories-content
  ul
  li.active
  a
  span {
  background: #0066ff;
}

.blog-standard-area
  .blog-sidebar
  .blog-side-about
  .blog-categories-content
  ul
  li
  a {
  background: #f16001d9;
}

.blog-standard-area
  .blog-sidebar
  .blog-side-about
  .blog-categories-content
  ul
  li
  a
  span {
  background: #f16001;
}

.blog-dteails-content .blog-details-top > span {
  background: #0066ff;
}

.blog-dteails-content .blog-details-bar .blog-social ul li a:hover {
  color: #f16001;
}

.faq-area .faq-accordion .accordion .card .card-header a::before {
  color: #0066ff;
}

.faq-area .faq-accordion .accordion .card .card-header a.collapsed::before {
  color: #0066ff;
}

.contact-action-area .contact-action-item .contact-form-btn {
  background: #0066ff;
}

.user-sidebar .links li a.active,
.user-sidebar .links li:hover > a {
  color: #0066ff;
}

.main-table .dataTables_wrapper td a.btn {
  border: 1px solid #0066ff;
}

.main-table .dataTables_wrapper td a.btn:hover {
  background: #0066ff;
}

.paginate_button.active .page-link {
  background-color: #0066ff;
}

.course-nav-left a.prev:hover,
.course-nav-right a.certificate:hover {
  background-color: #0066ff;
  color: #fff;
}

.course-videos-area
  .course-videos-sidebar
  .course-video-nav
  .course-section
  ul.list
  li
  a:hover,
.course-videos-area
  .course-videos-sidebar
  .course-video-nav
  .course-section
  ul.list
  li
  a.active {
  background-color: #0066ff66;
}

.course-videos-area .course-videos-sidebar::-webkit-scrollbar-thumb {
  background: #0066ff66;
}

.video-js .vjs-big-play-button {
  background-color: #0066ff66;
}

.download-box button {
  color: #0066ff;
}

#quiz-complete a {
  background: #f16001;
}

.user-dashboard
  .user-profile-details
  .edit-info-area
  .file-upload-area
  .upload-file
  span {
  background-color: #0066ff;
}

.user-dashboard .user-profile-details .edit-info-area .btn {
  background-color: #0066ff;
}

.single-courses .courses-content .courses-info span {
  color: #0066ff;
  background: #0066ff1a;
}

.single-courses .courses-content .courses-info .price span.pre-price {
  background: #f160011a;
  color: #f16001;
}

.course-details-area .course-details-items .course-thumb .tab-btns ul li a i,
.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li:nth-child(2)
  a
  i,
.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li:nth-child(3)
  a
  i,
.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li:nth-child(4)
  a
  i {
  color: #0066ff;
}

.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li
  a.active {
  color: #f16001;
}

.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li
  a.active
  i {
  color: #f16001 !important;
}

.course-details-area
  .course-details-items
  .course-thumb
  .tab-btns
  ul
  li
  a.active::before {
  background: #f16001;
}

.course-details-area .trending-course > .title i {
  color: #f16001;
}

.contact-info-area .contact-info-content .single-contact-info .info-icon i,
.contact-info-area
  .contact-info-content
  .single-contact-info.item-2
  .info-icon
  i,
.contact-info-area
  .contact-info-content
  .single-contact-info.item-3
  .info-icon
  i {
  background: #0066ff;
  box-shadow: 0px 8px 16px 0px #0066ff4d;
}

.advance-courses-area .courses-active .slick-arrow:hover {
  background: #f16001;
  border-color: #f16001;
  box-shadow: 0px 8px 16px 0px #f1600133;
}

.header-area-two .header-navigation:before {
  background: #0066ff;
}

.sub-items-area .sub-item {
  background: #0066ff;
}

.sub-items-area .sub-item .input-box button {
  background: #f16001;
  color: #fff;
}

.offer-2-area .offer-content ul li a {
  background: #0066ff;
  border: 2px solid #0066ff;
  color: #fff;
}

.offer-2-area .offer-content ul li a:hover {
  border-color: #f16001;
  background-color: #f16001;
}

.offer-2-area .offer-content ul li a.main-btn-2 {
  border-color: #f16001;
  background-color: #f16001;
}

.offer-2-area .offer-content ul li a.main-btn-2:hover {
  background: #0066ff;
  border-color: #0066ff;
  color: #fff;
}

.mentors-area .single-mentors .mentors-content span {
  color: #0066ff;
}

.testimonials-2-area .single-testimonials .testimonials-content i {
  background: #0066ff;
  box-shadow: 0px 8px 16px 0px #0066ff33;
}

.testimonials-2-area .testimonials-2-active .slick-dots li.slick-active button {
  background: #0066ff;
}

.footer-area {
  background: #001b61;
}

.footer-area.footer-area-2 {
  background: #001b61;
}

.footer-area.footer-area-2 .footer-item .footer-content .input-box input {
  border: 4px solid #003a91;
  background: #001b61;
}

.footer-area.footer-area-2 .footer-item .footer-content .input-box i {
  color: #f16001;
}

.footer-area.footer-area-2 .footer-item .footer-content button {
  background: #f16001;
  color: #fff;
}

.copyright-part-two {
  background: #003a91;
}

.we-do-3 .section-title > span {
  border-top: 18px solid #0066ff;
}

.services-area-3::before {
  background-color: #0066ff;
}

.exp-area .exp-content-area .top-content span {
  color: #0066ff;
}

.our-courses-area .section-title > span {
  border-top: 18px solid #0066ff;
}

.our-courses-area .courses-active-3 .slick-arrow:hover {
  background: #0066ff;
  border-color: #0066ff;
  box-shadow: 0px 8px 16px 0px #0066ff33;
}

.our-courses-area .section-title .nav li a.active {
  border-bottom: 3px solid #0066ff;
}

.our-courses-area .single-courses-3 .courses-thumb .courses-overlay ul li p {
  color: #fff;
  background: #0066ff;
}

.our-courses-area .single-courses-3 .courses-content ul li p span {
  color: #0066ff;
}

.faq-answer-area.faq-answer-area-2 .section-title > span {
  border-top: 18px solid #0066ff;
}

.faq-answer-area form .input-box button {
  background: #0066ff;
  color: #fff;
  box-shadow: 0px 8px 16px 0px #0066ff4d;
}

.counter-3-area .section-title > span {
  border-top: 18px solid #0066ff;
}

.news-3-area .section-title > span {
  border-top: 18px solid #0066ff;
}

.news-3-area .single-news .news-content .btns a.category {
  color: #fff;
  background: #0066ff;
}

.page-title::before {
  background-color: #001b61;
  opacity: 0.5;
}
.our-courses-area .courses-active-3 .slick-arrow {
  background: #0066ff;
}
.blog-standard-area .blog-standard nav ul li a:hover {
  background: #f16001;
}
